body {
    font-family: 'Open Sans', sans-serif;
    background-color: #333333c9 ;
    color: #f7f7f7;
  }
  
  header {
    background-color: #8e04f0;
    color: white;
    padding: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1rem;
    -webkit-box-shadow: 3px -4px 61px 0px rgba(135,135,135,1);
    -moz-box-shadow: 3px -4px 61px 0px rgba(135,135,135,1);
    box-shadow: 3px -4px 61px 0px rgba(135,135,135,1);
  }

  #contato {
    margin-top: 2rem;
    border-radius: 3rem;
    -webkit-box-shadow: 3px -4px 61px 0px rgba(135,135,135,1);
    -moz-box-shadow: 3px -4px 61px 0px rgba(135,135,135,1);
    box-shadow: 3px -4px 61px 0px rgba(135,135,135,1);
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .carousel-container{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    border-radius: 3rem;
    padding: 1rem;
    -webkit-box-shadow: 3px -4px 61px 0px rgba(135,135,135,1);
    -moz-box-shadow: 3px -4px 61px 0px rgba(135,135,135,1);
    box-shadow: 3px -4px 61px 0px rgba(135,135,135,1);
  }

  .carousel {
    display: flex; /* usa flexbox para alinhar as imagens horizontalmente */
    overflow: hidden; /* oculta as imagens que ultrapassam o tamanho do contêiner */
  }

  .carousel img:not(.active) {
    display: none;
  }

  .carousel img {
    display: flex;
    align-items: center;
    max-width: 50vw;
    border-radius: 1rem;
   
    
  }
  
  section {
    padding: 2rem;
  }
  
  section h2 {
    font-size: 2rem;
    color: #8e04f0;
    margin-bottom: 1rem;
  }


  
  section p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 2rem;
  }

  .sobre {
    display: flex;
    justify-content: center;
  }
  .img-section {
    display: flex;
    justify-content: center;
  }

  .img-section img {
    width: 50vw;
    border-radius: 3rem;
    -webkit-box-shadow: 3px -4px 61px 0px rgba(135,135,135,1);
    -moz-box-shadow: 3px -4px 61px 0px rgba(135,135,135,1);
    box-shadow: 3px -4px 61px 0px rgba(135,135,135,1);
  }


  .prev-btn, .next-btn {
    background-color: #8e04f0;
    color: white;
    font-size: 20px;
    border: none;
    border-radius:50%;
    padding: 1rem;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .prev-btn {
    left: 20px;
  }
  
  .next-btn {
    right: 20px;
  }
  
  
  ul {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  input,
  textarea {
    padding: 1rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  
  input[type="submit"] {
    background-color: #8e04f0;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #8e04f095;
  }

  footer {
    display: flex;
    justify-content: center;
  }
  
  @media (min-width: 768px) {
    body {
      font-size: 1.2rem;
    }
    
    section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }
  }
  